<!-- <p>
    Nombre: {{ nombre }} 
    Apellido: {{ apellido }} 
    Edad: {{ edad }}
</p> 

<div (keyup)='0'>
    <label>Repetidor:</label>
    <input #entrada /> 
    {{ entrada.value }}
</div> -->

<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {{ indice + 1 }}.-
      <a [routerLink]="['/personas', indice]">{{ persona.nombre }} {{ persona.apellido }}</a>
      <button type="submit" class="btn btn-primary" (click)="emitirSaludo()">
        <span class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true"></span>
      </button>
    </li>
  </ul>
</div>