<!-- <p>
    Nombre: {{ nombre }} 
    Apellido: {{ apellido }} 
    Edad: {{ edad }}
</p> 

<div (keyup)='0'>
    <label>Repetidor:</label>
    <input #entrada /> 
    {{ entrada.value }}
</div> -->

<div class="container">
    <div class="row">
      <div class="col">
        <div>
          {{ indice + 1 }}.-{{ persona.nombre }} {{ persona.apellido }}
          <button type="submit" class="btn btn-primary" (click)="emitirSaludo()">
            Editar
            <span class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>