<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <hr />
      <!-- <app-persona></app-persona> -->
      <button
        class="btn btn-primary"
        [disabled]="deshabilitar"
        (click)="agregarPersona()">
        <i class="bi bi-person-plus"></i>
        Agregar persona
      </button>

      <p *ngIf="mostrar; else sinPersona">
        {{ mensaje }} con el titulo de {{ titulo }}
      </p>
      <ng-template #sinPersona>
        <p>No se a agregado ninguna persona</p>
      </ng-template>
      <br />
      <label for="">Titulo persona</label>
      <!-- <input type="text" name="" id="" class="form-control"
        (input) = "modificarTitulo($event)">
        {{titulo}} -->
      <div class="input-group">
        <div class="input-group-text" id="btnGroupAddon">
          <i class="bi bi-person-circle"></i>
        </div>
        <input type="text" class="form-control" [(ngModel)]="titulo" />
      </div>
      {{ titulo }}
    </div>
  </div>
</div>
<br />

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-6">
      <i role="button" class="bi bi-plus-circle-fill" style="font-size: 3rem;" (click)="agregar()"></i>
    </div>
  </div>
</div>

<div class="container">
  <app-formulario>
    <!-- (personaCreada) = "personaAgregada($event)" Ya no es necesario ya que se realiza el llamado por service -->
  </app-formulario>
</div>

<div class="container">
  <hr/>
  <app-persona
      *ngFor="let persona of personas; let i = index"
      [persona] = "persona"
      [indice] = "i">

  </app-persona>
</div>